.root {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: fit-content;
  align-items: center;
}

.icon {
  /* border: 1px solid black; */
  width: 24px;
  height: 24px;
  padding: 8px;
  color: #6666ff;
  margin-right: 12px;
}
