.root {
  /* border: 1px solid black; */
  box-sizing: border-box;
  width: auto; /* 88px */
  height: auto; /* 35px */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  justify-content: center;
}

.text {
  text-decoration: none;
  padding: 16px;
  flex-shrink: 0;
  width: auto; /* 72px */
  height: auto; /* 19px */
  white-space: pre;
  opacity: 0.6;
  font-weight: 500;
  font-family: "Inter-Medium", "Inter", sans-serif;
  color: var(--token-55b7a17e-c70c-4e3f-92d0-7dfbd9806f75, #212121)
    /* {"name":"Black"} */;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 1.2;
  text-align: center;
}

.root:hover > .text {
  flex-shrink: 0;
  width: auto; /* 76px */
  height: auto; /* 19px */
  white-space: pre;
  font-weight: 800;
  font-family: "Inter-ExtraBold", "Inter", sans-serif;
  color: #6666ff;
  font-size: 16px;
  opacity: 1;
  letter-spacing: -0.2px;
  line-height: 1.2;
}

.active {
  text-decoration: none;
  padding: 16px;
  flex-shrink: 0;
  width: auto; /* 72px */
  height: auto; /* 19px */
  white-space: pre;
  opacity: 1;
  font-weight: 800;
  font-family: "Inter-ExtraBold", "Inter", sans-serif;
  color: #6666ff;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 1.2;
  text-align: center;
}
